<%- include('partials/_header') %>
<%- include('partials/_navigation') %>

	<div class="all-title-box">
		<div class="container text-center">
			<h1><%= course.name %></h1>
		</div>
	</div>

    <div id="overviews" class="section wb">
        <div class="container">
            <div class="row"> 
                <div class="col-lg-9 blog-post-single">
                    <div class="blog-item">
						<div class="image-blog">
							<img src="/images/blog_single.jpg" alt="" class="img-fluid">
						</div>
						<div class="post-content">
							<div class="post-date">
								<span class="day">30</span>
								<span class="month">Dec</span>
							</div>
							<div class="meta-info-blog">
								<span><i class="fa fa-calendar"></i> <a href="#">May 11, 2026</a> </span>
							</div>
							<div class="blog-title">
								<h2><a href="#" title=""><%= course.name %></a></h2>
							</div>
							<div class="blog-desc">
								<blockquote class="default">
									<%= course.description %>
								</blockquote>
							</div>							
						</div>
					</div>
					
					<div class="blog-author">
						<div class="author-bio">
							<h3 class="author_name"><a href="#">SmartEDU Instructor</a></h3>
							<h5>Teacher at <span>SmartEDU</span></h5>
							<p class="author_det">
								Loves teaching software engineering!
							</p>
						</div>
					</div>
                </div><div class="col-lg-3 col-12 right-single">
                    <% if (user && user.role === 'student') { %>
                        <% 
                            // Check if the student is already enrolled
                            let isEnrolled = user.courses.some(c => c.toString() === course._id.toString());
                        %>
                        
                        <% if (!isEnrolled) { %>
                            <div class="widget-search">
                                <div class="site-search-area">
                                    <form method="POST" action="/courses/enroll">
                                        <input type="hidden" name="course_id" value="<%= course._id %>">
                                        <button class="btn btn-lg btn-warning text-white btn-block" style="font-weight: bold;"><span>ENROLL IN COURSE</span></button>
                                    </form>
                                </div>
                            </div>
                        <% } else { %>
                            <div class="widget-search text-center">
                                <div class="alert alert-success" role="alert">
                                    You are enrolled in this course!
                                </div>
                            </div>
                        <% } %>
                    <% } %>

					<div class="widget-categories">
						<h3 class="widget-title">Categories</h3>
						<ul>
							<li><a href="#">Web Design</a></li>
							<li><a href="#">Graphic Design</a></li>
						</ul>
					</div>
				</div></div></div></div><%- include('partials/_footer') %>