<%- include('partials/_header') %>
<%- include('partials/_navigation') %>

<div class="all-title-box">
    <div class="container text-center">
        <h1><%= user.name %><span class="m_1"><%= user.role.toUpperCase() %> DASHBOARD</span></h1>
    </div>
</div>

<div id="overviews" class="section wb">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Welcome to your Dashboard, <%= user.name %>!</h2>
                
                <% if(user.role === 'student') { %>
                    <div class="row mt-5 text-left">
                        <% for (let i=0; i < user.courses.length; i++) { %>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="course-item mb-5">
                                    <div class="image-blog">
                                        <img src="/images/blog_1.jpg" alt="" class="img-fluid">
                                    </div>
                                    <div class="course-br">
                                        <div class="course-title">
                                            <h2><a href="/courses/<%= user.courses[i].slug %>" title=""><%= user.courses[i].name %></a></h2>
                                        </div>
                                        <div class="course-desc">
                                            <p><%= user.courses[i].description.substring(0, 100) + "..." %></p>
                                        </div>
                                        
                                        <form method="POST" action="/courses/release" class="mt-3">
                                            <input type="hidden" name="course_id" value="<%= user.courses[i]._id %>">
                                            <button class="btn btn-lg btn-danger text-white"><span>RELEASE COURSE</span></button>
                                        </form>

                                    </div>
                                </div>
                            </div><% } %>
                    </div><% } %>

                <% if(user.role === 'teacher') { %>
                    <div class="col-12 text-center mt-4">
                        <button href="#" data-toggle="modal" data-target="#addCourse" class="btn btn-warning radius-0 mb-4" style="font-weight: bold; color: white;"><span>CREATE NEW COURSE</span></button>
                    </div>

                    <div class="row mt-5 text-left">
                        <% for (let i=0; i < courses.length; i++) { %>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="course-item mb-5">
                                    <div class="image-blog">
                                        <img src="/images/blog_1.jpg" alt="" class="img-fluid">
                                    </div>
                                    <div class="course-br">
                                        <div class="course-title">
                                            <h2><a href="/courses/<%= courses[i].slug %>" title=""><%= courses[i].name %></a></h2>
                                        </div>
                                        <div class="course-desc">
                                            <p><%= courses[i].description.substring(0, 100) + "..." %></p>
                                        </div>
                                    </div>
                                </div>
                            </div><% } %>
                    </div><% } %>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addCourse" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body customer-box">
                <h4 class="text-center">CREATE NEW COURSE</h4>
                <form method="POST" action="/courses">
                    <div class="form-group">
                        <input class="form-control" name="name" placeholder="Course Name" type="text" required>
                    </div>
                    <div class="form-group">
                        <select class="form-control" name="category" required>
                            <% for (let i=0; i < categories.length; i++) { %>
                                <option value="<%= categories[i]._id %>"><%= categories[i].name %></option>
                            <% } %>
                        </select>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="description" placeholder="Course Description" rows="5" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-light btn-radius btn-brd grd1">SUBMIT COURSE</button>
                </form>
            </div>
        </div>
    </div>
</div>

<%- include('partials/_footer') %>